<div class="branding-col">
  <button type="button" (click)="toggleSideMenu()" class="menu-toggle" [ngClass]="{ 'menu-visible': sideMenuVisible, 'menu-hidden': !sideMenuVisible }">
    <i class="fa fa-bars"></i>
  </button>
  <div class="brand-wrapper">
    <img class="brand-logo" [src]="baseUrl + '/assets/imgs/angular.svg'" alt="Angular">
    <h3 class="brand-name">DUO Template</h3>
  </div>
</div>

<search-bar class="hidden-xs"></search-bar>

<div class="actions-wrapper">
  <div class="logged-user">
    <div class="user-image-wrapper">
      <preload-image class="user-image" [ratio]="{w:1, h:1}" [src]="baseUrl + '/assets/imgs/profiles/profile9.jpeg'" alt="profile image" title="profile image"></preload-image>
    </div>
    <span class="user-name">Henry Ford</span>
  </div>

  <messages-menu [messages]="messages"></messages-menu>

  <notifications-menu-button [notifications]="notifications"></notifications-menu-button>
</div>
